<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Panel administratora</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link href="https://getbootstrap.com/docs/4.0/examples/signin/signin.css" rel="stylesheet" crossorigin="anonymous"/>
</head>
<body>
<div class="container">
    <h2 class="text-center form-signin-heading">Panel Administratora </h2>
    <div class="row">
        <div class="col-sm-3">
            <form class="logout" th:action="@{/dodajPolicjanta}" method="get">
                <button class="btn btn-lg btn-primary btn-block" type="submit">Dodaj policjanta</button>
            </form>
        </div>
        <div class="col-sm-3">
            <form class="logout" th:action="@{/znajdzPolicjanta}" method="get">
                <button class="btn btn-lg btn-primary btn-block" type="submit">Znajdź policjanta</button>
            </form>
        </div>

        <div class="col-sm-3">
            <form class="logout" th:action="@{/showpolicemans}" method="post">
                <button class="btn btn-lg btn-primary btn-block" type="submit">Pokaż policjantów</button>
            </form>
        </div>
        <div class="col-sm-3">
            <form class="logout" th:action="@{/login}" method="post">
                <button class="btn btn-lg btn-danger btn-block" type="submit">Wyloguj się</button>
            </form>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-4">
            <h2 style="text-align: center; margin-top: 30px; margin-bottom: 50px;">Dodawanie policjanta</h2>
            <div style="width:100%; background-color: #B7B7B7; -webkit-box-shadow: 7px 24px 59px 10px rgba(0,0,0,1);
                        -moz-box-shadow: 7px 24px 59px 10px rgba(0,0,0,1); box-shadow: 7px 24px 59px 10px rgba(0,0,0,1);">

                <form style="text-align: center;" th:action="@{/dodajPolicjanta}" th:object="${addPoliceman}" method="post">
                    <input type="hidden" id="id" name="id" value="1000"><br>
                    Ustaw login:<br>
                    <input type="text" id="login" name="login"><br>
                    Ustaw haslo:<br>
                    <input type="password" id="haslo" name="haslo"><br>
                    Imie policjanta:<br>
                    <input type="text" id="imie" name="imie"><br>
                    Nazwisko policjanta:<br>
                    <input type="text" id="nazwisko" name="nazwisko"><br>
                    Pesel policjanta:<br>
                    <input type="text" id="pesel" name="pesel">
                    <br>
                    Telefon policjanta:<br>
                    <input type="text" id="telefon" name="telefon"><br>
                    <br><br>
                    <button class="btn btn-lg btn-danger btn-block" type="submit">Dodaj policjanta do systemu</button>
                </form>
                <p th:if="${dodanoPolicjanta}" class="alert alert-warning">Policjant został pomyślnie dodany</p>
        </div>
        </div>
        <div class="col-sm-4"></div>
    </div>
</div>
</body>
</html>