<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Panel policjanta</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link href="https://getbootstrap.com/docs/4.0/examples/signin/signin.css" rel="stylesheet" crossorigin="anonymous"/>
</head>
<body>
<div class="container">
    <h2 class="text-center form-signin-heading">Panel Policjanta </h2>
    <a href="#" class="btn btn-lg btn-primary btn-block">Dodaj sprawę</a>
    <a href="#" class="btn btn-lg btn-primary btn-block">Wystaw mandat</a>
    <a href="#" class="btn btn-lg btn-primary btn-block">Pokaż wszystkie sprawy</a>
    <a href="#" class="btn btn-lg btn-primary btn-block">Pokaż wszystkie mandaty</a>
    <a href="#" class="btn btn-lg btn-primary btn-block">Wyszukaj sprawę</a>
    <a href="#" class="btn btn-lg btn-primary btn-block">Wyszukaj mandat</a>

    <p></p>
    <form class="logout" th:action="@{/login}" method="post">
        <button class="btn btn-lg btn-primary btn-block" type="submit">Wyloguj się</button>
    </form>
</body>
</html>